*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* LAYOUT CLASSES */

.container, 
.sm-container{
    width: 100%;
    padding: 30px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
}


/* UTILITY CLASSES */

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-left{
    justify-content: left;
}

.align-center{
    align-items: center;
}

.self-end{
    align-self: flex-end;
}

img{
    width: 100%;
}

.btn{
    border-radius: 20px;
    border: none;
}

.bg-blue{
    background-color: #0084fd;
}

.bg-lightblue{
    background-color: #b5ddff;
}

.bg-violet{
    background-color: #9792e4;
}

.bg-white{
    background-color: white;
}

.bg-red{
    background-color: red;
}

.bg-gray{
    background-color: #333333;
}

.height-400{
    height: 400px;
}

.height-600{
    height: 600px;
}

.height-800{
    height: 800px;
}

.height-2000{
    height: 2000px;
}

.pd-y-30{
    padding: 30px 0;
}

.pd-x-60{
    padding: 0 60px;
}

.ps-relative{
    position: relative;
}


/* GENERAL CLASSES */

#jumbotron .big-col,
#jumbotron .col,
#planning .col,
#testimonials .col,
#benefits .col-title,
#benefits .col,
#about .col-testo,
#about .col-img,
#get-started .col,
footer .col{
    width: 100%;
    margin: 15px 30px;
}

#jumbotron .big-col,
#jumbotron .col,
#planning .col,
#testimonials .col,
#benefits .col{
    border-radius: 20px;
}

#jumbotron .big-col,
#testimonials .col{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#jumbotron .testo,
#jumbotron .img,
#planning .strategic-plan,
#planning .app-development,
#testimonials .testo{
    width: 95%;
    margin: 20px;
}

#jumbotron p,
#planning p,
#testimonials p,
#benefits p,
#about p,
#get-started p{
    font-size: 20px;
    line-height: 28px;
    margin: 5px 20px;
}

h2{
    font-size: 60px;
    margin: 40px 20px;
}

h3{
    font-size: 34px;
    margin: 30px 20px;
}

h4{
    font-size: 28px;
    margin: 25px 20px;
}

#jumbotron .col,
#planning .app-development,
#testimonials .testimonials-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jumbotron .col p,
#planning .app-development p,
.testimonials-intro,
#testimonials p,
#benefits h3,
#get-started p{
    text-align: center;
    padding-bottom: 30px;
}

#testimonials h3,
#benefits h2,
#benefits h4,
#about h2,
#about h3{
    color: #9792e4;
}

#testimonials .col-testo p,
#benefits h3{
    color: white;
}

#benefits button,
#about button{
    background-color: #9792e4;
    color: white;
    font-size: 20px;
    padding: 10px 50px;
    margin: 20px;
}

#testimonials h3,
#get-started h3{
    margin: 0;
}

/*Header*/

header .menu-desktop{
    display: none;
}

header .menu-mobile{
    color: white;
    font-size: 28px;
}

/*Jumbotron*/

#jumbotron h4{
    color: #0084fd;
}

#jumbotron button{
    background-color: #0084fd;
    color: white;
    font-size: 22px;
    padding: 10px 40px;
    margin: 30px 0 40px 20px;
}

#jumbotron .img{
    width: 60%;
}

#jumbotron .col i{
    color: #0084fd;
    font-size: 70px;
    margin: 20px 0;
}

/*Planning*/

#planning h3, 
.strategic-planning p{
    color: white;
    margin-bottom: 40px;
}

#planning button{
    background-color: #9792e4;
    padding: 22px 25px;
    border-radius: 40px;
    font-size: 20px;
}

#planning .app-development img{
    width: 60%;
}

#planning .strategic-planning p{
    padding-top: 20px;
    padding-bottom: 30px;
}

/*Testimonials*/

#testimonials .col{
    padding: 20px;
}

#testimonials .img{
    display: flex;
    justify-content: center;
}

#testimonials img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials img,
#about img{
    border-radius: 50%;
}

#testimonials .col-img{
    width: 200px;
    height: 200px;
}

/*About*/

#about .img{
    width: 50%;
    margin-top: 30px;
}

/*Get started*/

#get-started .col{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#get-started .free{
    color: #fdc15f;
    font-size: 65px;
    margin-top: 0;
}

#get-started button{
    background-color: white;
    color: #9792e4;
    padding: 15px 40px;
    font-size: 20px;
    margin-bottom: 20px;
}

#get-started i{
    font-size: 8px;
}

#get-started .small{
    font-size: 18px;
}

/* RESPONSIVE */

@media screen and (min-width: 768px){

    #testimonials .col,
    #benefits .col,
    #about .row{
        flex-wrap: nowrap;
    }

    /*Jumbotron*/

    #jumbotron .big-col{
        width: calc(100% / 3 * 2 - 60px);
    }

    #jumbotron .col{
        width: calc(100% / 3 - 60px);
    }

    #jumbotron .img{
        display: flex;
        justify-content: left;
        width: 90%;
    }

    #jumbotron img{
        width: 60%;
    }

    /*Testimonials*/

    #testimonials .col-img{
        flex-shrink: 0;
        overflow: hidden;
    }

    #testimonials .col-testo{
        flex-grow: 1;
    }

    #testimonials .col-testo p{
        text-align: left;
    }

    /*Benefits*/

    #benefits .col{
        width: calc(50% - 60px);
    }

    /*About*/

    #about .col-testo{
        width: 60%;
        padding-right: 20px;
    }

    #about .col-img{
        width: 40%;
    }

}

@media screen and (min-width: 992px){
    
    .sm-container{
        max-width: 960px;
        margin: 0 auto;
        padding: 30px 0;
    }
    
}

@media screen and (min-width: 1200px){

    .container{
        max-width: 1140px;
        margin: 0 auto;
    }

    /*Header*/

    header .menu-desktop{
        display: block;
    }

    header .menu-mobile{
        display: none;
    }

    header ul li{
        display: inline;
        list-style-type: none;
        color: white;
        margin: 0 15px;
        font-size: 18px;
    }

    header button{
        margin-left: 10px;
        font-size: 19px;
        padding: 10px 20px;
    }

    /*Jumbotron*/

    #jumbotron .big-col{
        flex-wrap: nowrap;
    }

    #jumbotron img{
        width: 100%;
    }

    /*Planning*/

    #planning .row{
        padding: 0 80px;
    }

    #planning .strategic-planning img{
        padding-top: 50px;
        padding-bottom: 60px;
    }

    #planning .col{
        flex-wrap: nowrap;
        width: calc(50% - 60px);
    }

    #benefits .col{
        width: calc(100% / 3 - 60px);
    }

}